/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #FFF1F7;
  --background-image: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --hover-title-color-40: #35343066;
  --text-color: #353430;
  --text-on-accent: #353430;
  --main-title-color: #FFC2E6;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --background-image: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --hover-title-color-40: #35343066;
    --text-color: #353430;
    --text-on-accent: #353430;
    --main-title-color: #FFC2E6;
    --rec-display: none;
  }

  /* Остальные стили, только при необходимости */
} 