/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --background-image: url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --title-color: #FF0070;
  --hover-title-color-40: #FF007066;
  --text-color: #F1B2CE;
  --text-on-accent: #000028;
  --main-title-color: #DB00FF;
  --rec-display: inline-flex;
}